<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
</style>
  <div class="topnav">

  <a href="home">Home</a>
  <a href="players">Players</a>
  <a href="teams">Teams</a>
  <a href="tournaments">Tournaments</a>
  <a href="sponsors">Sponsors</a>
  <a href="organizers">Organizers</a>
  <div class="search-container">
  </div>
</div>

<body>
  <h1>DOTA2 Esports Database Application</h1>
<p>
  The e-sports industry has been gradually developing and gaining global attention in the past ten
years. Large-scale tournaments like the annual international tournament with a prize pool of millions
of dollars had been held. Even the Asian Games has included some video-game competitions as performance
projects. </p>
  <p>
  Our database stores data related to DOTA2 including information about DOTA2 players, teams, tournaments and sponsors.
  Within our application, you are able to search for players, teams and tournaments given the partial information set by you.
  For example, you can look for the team who won the annual international tournament in 2018 and its players.
  </p>
<p>Our data come from  <a href="https://liquipedia.net/dota2/Main_Page">Liquipedia</a></p>
</body>


</html>
